html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

footer {
	position: fixed;
	width: 100%;
	height: 50px;
	min-height: 50px;
	border-top: solid 1px rgba(158, 158, 158, 0.43);
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	padding: 0px 50px;
	background-color: #fafafa;
}

.footer-left {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	bottom: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	padding: 12px 4px;
}

.footer-right {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	padding: 12px 5px;
	display: inline-block;
}

.footer-center {
	height: 100%;
	padding: 5px 0px;
}

.footer-center [class*=input] {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.footer-center .input-text {
	background: #fff;
	border: solid 1px #ddd;
	padding: 10px !important;
	font-size: 16px !important;
	line-height: 18px !important;
	font-family: verdana !important;
	overflow: hidden;
}

.footer-center .input-sound {
	background-color: #eee;
}

.mui-content {
	height: 100%;
	padding: 44px 0px 50px 0px;
	overflow: auto;
	background-color: #eaeaea;
}

#msg-list {
	height: 100%;
	overflow: auto;
	background-color: #FAFAFA;
	-webkit-overflow-scrolling: touch;
	padding-top: 5px;
}

.msg-item {
	padding: 4px 7px;
	margin: 2px 0;audioRobot
	clear: both;
}

.msg-item .mui-item-clear {
	clear: both;
}

.msg-item .msg-user {
	width: 38px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	float: left;
	padding: 0;
	color: #ddd;
	border-radius: 50%;
}

.msg-item .msg-user-img {
	width: 38px;
	height: 38px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: top;
	text-align: center;
	float: left;
	color: #ddd;
}

.msg-item .msg-content {
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #d3d3d3;
	background-color: #FFFFFF;
	color: #333;
	padding: 8px;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	margin: 0px 8px;
	max-width: 75%;
	min-width: 35px;
	float: left;
}

.msg-item .msg-content .msg-content-inner {
	overflow-x: hidden;
}

.msg-item .msg-content .msg-content-arrow {
	position: absolute;
	border: solid 1px #d3d3d3;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	left: -5px;
	top: 12px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.msg-item-self .msg-user,
.msg-item-self .msg-content {
	float: right;
}

.msg-item-self .msg-content .msg-content-arrow {
	left: auto;
	right: -5px;
	-webkit-transform: rotateZ(225deg);
	transform: rotateZ(225deg);
}

.msg-item-self .msg-content,
.msg-item-self .msg-content .msg-content-arrow {
	background-color: #4CD964;
	color: #fff;
	border-color: #2AC845;
}

footer .mui-icon {
	color: #000;
}

footer .mui-icon:active {
	color: #007AFF !important;
}

footer .mui-icon-paperplane:before {
	content: '发送';
    color: black;
}

footer .mui-icon-paperplane {
	font-size: 16px;
	word-break: keep-all;
	line-height: 100%;
	padding-top: 6px;
	color: rgba(0, 135, 250, 1);
}

#msg-sound {
	-webkit-user-select: none !important;
	user-select: none !important;
}

.rprogress {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 140px;
	margin-left: -70px;
	margin-top: -70px;
	background-image: url(../images/arecord.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px 30px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	display: none;
	-webkit-transition: .15s;
}

.rschedule {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(0, 183, 229, 0.9);
	opacity: .9;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 46px;
	height: 46px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.r-sigh {
	display: none;
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 46px;
	height: 46px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
	text-align: center;
	line-height: 46px;
	font-size: 40px;
	font-weight: bold;
	color: #2187e7;
}

.rprogress-sigh {
	background-image: none !important;
}

.rprogress-sigh .rschedule {
	display: none !important;
}

.rprogress-sigh .r-sigh {
	display: block !important;
}

.rsalert {
	font-size: 12px;
	color: #bbb;
	text-align: center;
	position: absolute;
	border-radius: 5px;
	width: 130px;
	margin: 5px 5px;
	padding: 5px;
	left: 0px;
	bottom: 0px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#h {
	background: #fff;
	border: solid 1px #ddd;
	padding: 10px !important;
	font-size: 16px !important;
	font-family: verdana !important;
	line-height: 18px !important;
	overflow: visible;
	position: absolute;
	left: -1000px;
	right: 0px;
	word-break: break-all;
	word-wrap: break-word;
}

.cancel {
	background-color: darkred;
}

.mui-bar {
	background-color: black;
}

.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 0 black;
	box-shadow: 0 1px 0 black;
	height: 59px;
	padding-top: 17px;
}

.mui-title {
	text-align: left;
	color: white;
	font-family: 微软雅黑;
}

.mui-icon-person-filled:before {
	content: '\e131';
	color: white;
}

.mui-icon-arrowleft:before {
	content: '\e582';
	color: white;
}

.mui-content .mui-table-view .mui-table-view-cell .head-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.mui-content .mui-table-view .mui-table-view-cell .head-img img {
	width: 70px;
	height: 70px;
}

.mui-content .mui-table-view .mui-table-view-cell .head-name {
	height: 70px;
	line-height: 70px;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-content .mui-pull-left {
	float: left;
	color: black;
	font-family: 微软雅黑;
	font-size: 14px;
}

.mui-content .mui-pull-right {
	font-family: 微软雅黑;
	font-size: 13px;
}

.mui-table-view-cell {
	position: relative;
	overflow: hidden;
	padding: 12px 15px;
	-webkit-touch-callout: none;
}

.mui-table-view {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	background-color: #fff;
	margin-bottom: 13px;
	margin-top: -5px;
}

.mui-bar-nav~.mui-content {
	padding-top: 60px;
}

.mui-icon-bars:before {
	color: white;
}

.mui-switch.mui-active {
	border-color: #2196F3;
	background-color: #2196F3;
}

.mui-switch {
	margin-left: 34%;
	margin-top: 7px;
}

.mui-switch.mui-active:before {
	right: auto;
	left: 10px;
	content: "write";
	color: #fff;
	font-size: 12px;
	font-family: 微软雅黑;
	text-transform: capitalize;
}

.mui-switch:before {
	font-size: 12px;
	position: absolute;
	top: 3px;
	right: 5px;
	content: "speak";
	text-transform: capitalize;
	color: #999;
	font-family: 微软雅黑;
}

.mui-icon-search:before {
	content: '\e466';
	color: white;
}

.input-text {
	margin-top: 2px;
	padding: 2%;
	width: 90%;
	border: 1px solid #6C6C6C;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-appearance: none;
}

#audioRobot {
	display: none;
}

.out {
	margin: 9px;
	height: 30%;
	width: 90%;
}

.recognize-english {
	font-family: "微软雅黑";
	font-size: 15px;
}
.mic-icon{
	width: 25px;
	height: 25px;
}
.mui-card {
    margin: 10px 10px 15px 10px;
}
.mui-card .mui-card-content {
    font-size: 14px;
    position: relative;
    height: 165px;
    overflow: hidden;
}
.mui-card .mui-card-content  img{
    width: 100%;
    height: 100%;
}
.mui-card .mui-card-footer .enter-btn{
	padding-right: 3px;
}
.mui-card .mui-card-footer .enter-btn strong{
	display: inline-block;
    font-size: 17px;
    font-family: "微软雅黑";
    font-weight: 500;
     margin-right: -6px;
}
.about-area .mui-table-view-cell{
    padding-bottom: 10px;
}
.about-img{
	width: 23px;
}

.about-span{
	position: absolute;
    padding-left: 7px;
    top: 12px;
    font-family: 微软雅黑;
    font-size: 16px;
}
