.mui-content{
    .mui-card{
        .mui-card-content{
            position: relative;
            .img{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            .mask{
                width: 364px;
                height: 165px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                color: rgba(255,255,255,1);
                .info{
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    text-align: center;
                    margin-top: -30px;
                }
            }
        }
    }
}
