.mui-bar {
  color: white;
}
.mui-bar a {
  color: white;
}
.mui-bar .input-wrapper {
  overflow: hidden;
  height: 38px;
  margin-top: 6px;
}
.mui-bar .input-wrapper input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-family: "微软雅黑";
}
.mui-bar .search-button {
  display: block;
  float: right;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: "微软雅黑";
  margin-top: 8px;
  padding: 4px 12px 2px 12px;
}
.mui-content {
  padding: 60px 20px 0 20px;
}
.mui-content .mui-table-view {
  border-radius: 5px;
  background-color: white;
  background-clip: padding-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mui-content .mui-table-view:before,
.mui-content .mui-table-view:after {
  background-color: transparent;
}
.mui-content p {
  font-family: "微软雅黑";
  color: black;
  font-size: 16px;
}
.mui-content .word-translation .main-word {
  height: 56px;
  line-height: 32px;
  font-size: 17px;
}
.mui-content .word-translation .main-word strong {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
}
.mui-content .word-translation .translation {
  font-size: 13px;
}
