.mui-bar a {
  color: white;
}
.mui-bar .mui-input-row {
  clear: both;
  overflow: hidden;
  width: 80%;
  margin-left: 20px;
  display: inline-block;
}
.mui-bar .mui-input-row input {
  background-color: transparent;
  font-family: "微软雅黑";
}
.mui-content {
  padding: 60px 20px 0 20px;
}
.mui-content .mui-table-view {
  border-radius: 5px;
  background-color: white;
  background-clip: padding-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mui-content .mui-table-view:before,
.mui-content .mui-table-view:after {
  background-color: transparent;
}
.mui-content p {
  font-family: "微软雅黑";
  color: black;
  font-size: 16px;
}
.mui-content .word-translation .main-word {
  height: 56px;
  line-height: 32px;
  font-size: 21px;
  font-weight: 600;
}
.mui-content .word-translation .translation {
  font-size: 13px;
}
