<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/mui.imageviewer.css" />
		<style>
			.fontColor {
				color: #1D0EDD;
			}
		</style>
		<script type="text/javascript">
			var text = null;

			function startRecognizeEnglish() {
				var msgText = document.getElementById("msg-text");
				if(plus.os.name == 'Android' && navigator.userAgent.indexOf('StreamApp') > 0) {
					plus.nativeUI.toast('当前环境暂不支持语音识别插件');
					return;
				}
				var options = {};
				options.engine = 'iFly';
				options.lang = 'en-us';
				text.value = "";
				outSet("开始语音识别：");
				plus.speech.startRecognize(options, function(s) {
					outLine(s);
					text.value += s;
				}, function(e) {
					outSet("语音识别失败：" + e.message);
				});
			}
		</script>
	</head>

	<body onload="text=document.getElementById('msg-text');">
		<header class="mui-bar mui-bar-nav">
		</header>
		<script id='msgHead-template' type="text/template">
			<span class="mui-pull-left mui-icon mui-icon-arrowleft mui-action-back" id="return-button"></span>
			<h1 class="mui-title">任务<%=(taks_num)%></h1>
			<span class="mui-icon  mui-pull-right" id="authentication-btn">
				<img  class="auth-icon" src="images/authentication.png" />
			</span>
		</script>
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
			<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
				<% if(item.sender=='self' ) { %>
				<img class="msg-user" src="<%=(end_headImg_src)%>">
				<% } else { %>
				<img class="msg-user-img" src="<%=(robot_headimg)%>" alt="" />
				<% } %>
				<div class="msg-content">
					<div class="msg-content-inner">
						<% if(item.type=='text' ) { %>
						<%=( item.content|| '&nbsp;&nbsp;') %>
						<% } else if(item.type=='image' ) { %>
						<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
						<% } else if(item.type=='sound' ) { %>
						<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
						<span class="play-state">点击播放</span>
						<% } %>
					</div>
					<div class="msg-content-arrow"></div>
					<%if(item.sender=='self'){%>
					<%}else{%>
					<audio id="audioRobot" controls="controls" autoplay="autoplay">
					</audio>
					<%}%>
				</div>
				<div class="mui-item-clear"></div>
			</div>
			<% } %>
		</script>
		<div class="mui-content">
			<div id='msg-list'>
			</div>
		</div>
		<footer id="dcontent" class="dcontent">
			<div class="footer-left">
				<div class="button" id="recognizeEnglish" class="recognize-english" onclick="startRecognizeEnglish();">
					<img src="images/mic.png" class="mic-icon" />
				</div>
			</div>
			<div class="footer-center">
				<textarea readonly="readonly" class='input-text' id="msg-text">
				</textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label class="footer-right">
				<i id='msg-type' class="mui-icon mui-icon-paperplane"></i>
			</label>
			<div id="output"></div>
		</footer>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/arttmpl.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/immersed.js"></script>
		<script type="text/javascript" src="js/mui.imageViewer.js"></script>
		<script type="text/javascript" src="js/taskDetailData.js"></script>
		<script type="text/javascript">
			var MIN_SOUND_TIME = 800;
			mui.init({
				gestureConfig: {
					tap: true, //默认为true
					doubletap: true, //默认为false
					longtap: true, //默认为false
					swipe: true, //默认为true
					drag: true, //默认为true
					hold: true, //默认为false，不监听
					release: true //默认为false，不监听
				}
			});
			template.config('escape', false);
			mui.plusReady(function() {

				/***接受传的值****/
				var _self = plus.webview.currentWebview();
				//							mui.toast(_self.taskId);
				var task_num = _self.taskId;
				var item = data[task_num - 1];
				var robotContent = item.detail;
				//			console.log("item:"+item);
				var taskHead = document.getElementsByClassName("mui-bar-nav")[0];
				taskHead.innerHTML = template("msgHead-template", {
					"taks_num": task_num
				})

				plus.webview.currentWebview().setStyle({
					softinputMode: "adjustResize"
				});
				var showKeyboard = function() {
					if(mui.os.ios) {
						var webView = plus.webview.currentWebview().nativeInstanceObject();
						webView.plusCallMethod({
							"setKeyboardDisplayRequiresUserAction": false
						});
					} else {
						var Context = plus.android.importClass("android.content.Context");
						var InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
						var main = plus.android.runtimeMainActivity();
						var imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
						imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
						imm.showSoftInput(main.getWindow().getDecorView(), InputMethodManager.SHOW_IMPLICIT);
					};
				};

				var getBot = function(info) {
					var infoNow = parseInt(info);
					var apiurl = "http://webchat.botframework.com/v3/directline/conversations/7fwxlljs4iT3iMiqSTTIEX/activities?watermark=" + infoNow;
					mui.ajax(apiurl, {
						dataType: 'json',
						type: 'get',
						timeout: 10000,
						headers: {
							'Authorization': 'Bearer 4a0Uv0ck6S0.cwA.gOU.7xtdZi42TDWzJlRMzs5oH_Ma5PqUBLyexZUTOfLQV-0',
							'Content-Type': 'application/json'
						},
						success: function(data) {
							var a = data.activities;
							if(a == "") {
								getBot(infoNow)
							} else {
								toRead(data.activities[0].text);
								//								console.log();
								return
							}
						},
						error: function(xhr, type, errorThrown) {
							console.log(xhr);
							console.log(type);
							console.log(errorThrown);
						}
					})
				}

				//toRead
				var toRead = function(data) {
					var c = null;
					mui.getJSON(
						'http://fanyi.youdao.com/openapi.do?keyfrom=testorot&key=1145972070&type=data&doctype=json&version=1.1&q=' + data,
						function(data) {
							c = data.translation;
							console.log("translation:" + c);
							record.push({
								sender: 'zs',
								type: 'text',
								content: c + ""
							});
							bindMsgList();
							plus.nativeUI.closeWaiting();
							var src = 'http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=' + c;
							audioRobot.setAttribute("src", src);
						}
					);
				}
				var record = [{
					sender: 'zs',
					type: 'text',
					content: robotContent
				}];
				var ui = {
					body: document.querySelector('body'),
					footer: document.querySelector('footer'),
					footerRight: document.querySelector('.footer-right'),
					btnMsgType: document.querySelector('#msg-type'),
					boxMsgText: document.querySelector('#msg-text'),
					boxMsgSound: document.querySelector('#msg-sound'),
					areaMsgList: document.querySelector('#msg-list'),
					boxSoundAlert: document.querySelector('#sound-alert'),
					h: document.querySelector('#h'),
					content: document.querySelector('.mui-content')
				};
				ui.h.style.width = ui.boxMsgText.offsetWidth + 'px';
				//alert(ui.boxMsgText.offsetWidth );
				var footerPadding = ui.footer.offsetHeight - ui.boxMsgText.offsetHeight;
				var msgItemTap = function(msgItem, event) {
					var msgType = msgItem.getAttribute('msg-type');
					var msgContent = msgItem.getAttribute('msg-content')
					if(msgType == 'sound') {
						player = plus.audio.createPlayer(msgContent);
						var playState = msgItem.querySelector('.play-state');
						playState.innerText = '正在播放...';
						player.play(function() {
							playState.innerText = '点击播放';
						}, function(e) {
							playState.innerText = '点击播放';
						});
					}
				};
				var imageViewer = new mui.ImageViewer('.msg-content-image', {
					dbl: false
				});
				var bindMsgList = function() {
					var robot_headimg = "images/person/person" + _self.taskId + ".png";
					var end_headImg_src = null;
					if(plus.storage.getItem('img_src') == null) {
						end_headImg_src = "images/T.png";
					} else {
						end_headImg_src = plus.storage.getItem('img_src');
					}
					ui.areaMsgList.innerHTML = template('msg-template', {
						"record": record,
						"end_headImg_src": end_headImg_src,
						"robot_headimg": robot_headimg
					});
					var msgItems = ui.areaMsgList.querySelectorAll('.msg-item');
					[].forEach.call(msgItems, function(item, index) {
						item.addEventListener('tap', function(event) {
							msgItemTap(item, event);
						}, false);
					});
					imageViewer.findAllImage();
					ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
				};
				bindMsgList();
				window.addEventListener('resize', function() {
					ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
				}, false);
				var send = function(msg) {
					record.push(msg);
					bindMsgList();
					plus.nativeUI.closeWaiting();
					var _self = this;
					console.log("send()中的:" + msg.contenToRobot);
					if(msg.contenToRobot == undefined) {
						msg.contenToRobot = msg.content;
						toRobot(msg.contenToRobot);
					} else {
						var reg = /^[a-zA-Z]/;
						if(reg.test(msg.contenToRobot)) {

							mui.toast("please use English!");
						} else {
							toRobot(msg.contenToRobot);
						}
					};
				};
				var audioRobot = document.getElementById("audioRobot");
				var toRobotUser=function(content,contentValue){
					var c = null;
					mui.getJSON(
						'http://fanyi.youdao.com/openapi.do?keyfrom=testorot&key=1145972070&type=data&doctype=json&version=1.1&q=' + contentValue,
						function(data) {
							if(data.errorCode == '30') {
								send({
									sender: 'self',
									type: 'text',
									content: contentValue,
									contenToRobot: contentValue
								});
							} else {
								console.log(JSON.stringify(data));
								c = data.translation;
//								mui.toast(content);
								send({
									sender: 'self',
									type: 'text',
									content:content,
									contenToRobot: c + ""
								});
							}
						}
					);
				}
				//markWord
				var markWordFn = function(userArray, markArray) {
					var arr1 = userArray; //用户说的话
					var arr2 = markArray; //bot返回的单词
					var temp = []; //临时数组1 
					var temparray = []; //临时数组2    重复的
					var tempArrayIndex = []; //重复数  下标
					for(var i = 0; i < arr2.length; i++) {
						temp[arr2[i]] = true; //巧妙地方：把数组B的值当成临时数组1的键并赋值为真 
					};
					for(var i = 0; i < arr1.length; i++) {
						if(temp[arr1[i]]) {
							temparray.push(arr1[i]); //巧妙地方：同时把数组A的值当成临时数组1的键并判断是否为真，如果不为真说明没重复，就合并到一个新数组里，这样就可以得到一个全新并无重复的数组
							tempArrayIndex.push(i);
						};
					};
					var str = "";
					var index = 0;
					for(var i = 0; i < arr1.length; i++) {
						if(i == tempArrayIndex[index]) {
							str += "<span class=fontColor>" + arr1[i] + "</span>" + " ";
							index++;
						} else {
							str += arr1[i] + " ";
						}
					}
//					mui.toast(str);
					return str;
				}
				//标记单词
				function markWordStyle(arr1,contentValue) {
					var wordArray = [];
					var url = "http://172.20.10.2:3000/testReadWord";
					mui.ajax(url, {
						data: {},
						type: 'get', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						headers: {
							'Content-Type': 'text/html; charset=utf-8'
						},
						success: function(result) {
//							var a=JSON.parse(result);
//							mui.toast(typeof a);
//							iterator(0);
//							function iterator(i) {
//								if(i == result.length) {
//									var contentRes=markWordFn(arr1, wordArray);
//									toRobotUser(contentRes,contentValue);
//								}
//								wordArray.push(result[i].word);
//								iterator(i + 1);
//							}
							var a = JSON.parse(result);
							for(var i in a) {
								wordArray.push(a[i]);
							};
							var contentRes = markWordFn(arr1, wordArray);
							toRobotUser(contentRes,contentValue);
						},
						error: function(xhr, type, errorThrown) {
							//异常处理；
							mui.toast(type);
							console.log(type);
						}
					});
				};
				
				var toRobot = function(info) {
					plus.nativeUI.showWaiting();
//					var apiUrl = "http://www.tuling123.com/openapi/api";
//				https://webchat.botframework.com/v3/directline/conversations/Bh4myB9CyHZF634WtsuaPh/activities
										var apiUrl = "https://webchat.botframework.com/v3/directline/conversations/7fwxlljs4iT3iMiqSTTIEX/activities";
										mui.ajax(apiUrl, {
											data: {
												"type": "message",
												"from": {
													"id": "1VmYBNde8Oy",
													"name": "You"
												},
												"text": info
											},
											dataType: 'json',
											type: 'post',
											headers: {
												'Authorization': 'Bearer 4a0Uv0ck6S0.cwA.gOU.7xtdZi42TDWzJlRMzs5oH_Ma5PqUBLyexZUTOfLQV-0',
												'Content-Type': 'application/json',
												'Referer':'https://webchat.botframework.com/embed/windyHotelBot?s=4a0Uv0ck6S0.cwA.gOU.7xtdZi42TDWzJlRMzs5oH_Ma5PqUBLyexZUTOfLQV-0'
											},
											success: function(data) {
												var a = [];
												var id = data.id;
												a = id.split('|');
												var watermark = a[1];
												getBot(a[1]);
											},
											error: function(xhr, type, errorThrown) {
												//异常处理；
												console.log(type);
											}
										})

//					mui.getJSON(apiUrl, {
//						"key": '50365a5652bf4491a13d565664a64d55',
//						"info": info,
//						"userid": plus.device.uuid
//					}, function(data) {
//						console.log(data.text);
//						var dataTest = data.text;
//						var c = null;
//						mui.getJSON(
//							'http://fanyi.youdao.com/openapi.do?keyfrom=testorot&key=1145972070&type=data&doctype=json&version=1.1&q=' + dataTest,
//							function(data) {
//								c = data.translation;
//								console.log("translation:" + c);
//								record.push({
//									sender: 'zs',
//									type: 'text',
//									content: c + ""
//								});
//								bindMsgList();
//								plus.nativeUI.closeWaiting();
//								var src = 'http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&text=' + c;
//								audioRobot.setAttribute("src", src);
//							}
//						);
//					});
				};
				function msgTextFocus() {
					ui.boxMsgText.focus();
					setTimeout(function() {
						ui.boxMsgText.focus();
					}, 150);
				};
				//解决长按“发送”按钮，导致键盘关闭的问题；
				ui.footerRight.addEventListener('touchstart', function(event) {
					if(ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
						msgTextFocus();
						event.preventDefault();
					}
				});
				//解决长按“发送”按钮，导致键盘关闭的问题；
				ui.footerRight.addEventListener('touchmove', function(event) {
					if(ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
						msgTextFocus();
						event.preventDefault();
					}
				});
				ui.footerRight.addEventListener('release', function(event) {
					ui.boxMsgText.focus();
					setTimeout(function() {
						ui.boxMsgText.focus();
					}, 150);
					var contentValue = ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '<br/>');
					var arr1=contentValue.split(" ");
					markWordStyle(arr1,contentValue);
					ui.boxMsgText.value = '';
					mui.trigger(ui.boxMsgText, 'input', null);
				}, false);

				var authentication_btn = document.getElementById("authentication-btn");

				authentication_btn.addEventListener('tap', function() {
					mui.openWindow({
						url: 'authentication-page.html',
						id: 'authentication-page.html'
					});
				});

			});
		</script>
	</body>

</html>